.receipt-item-wrapper{
    padding: 0 1em;
}

.receipt-item,
.receipt-total{
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    font-size: 0.8em;
}

.receipt-total span{
    font-size: 1.1em;
    font-weight: bold;
}

/*.receipt-item-3 span {*/
/*    width: calc(60%/3);*/
/*}*/

/*.receipt-item-2 span {*/
/*    width: calc(60%/2);*/
/*}*/

.receipt-item-name,
.receipt-item-sum,
.receipt-item-quantity,
.receipt-item-price
{
    width: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*padding-right: 5px;*/
}

.receipt-item-sum,
.receipt-item-quantity,
.receipt-item-price
{
    width: 25%;
    text-align: right;
}

.receipt-item-quantity
{
    width: 10%;
}