.receipt-item{
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    font-size: 0.8em;
    padding-left: 1em;
}

.receipt-item span {
    width: calc(55%/3);
}

.receipt-item .receipt-item-name{
    width: 45%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 5px;
}