.dialer {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2vw;
	margin: 0 1em;
}

.dialer > .digit {
	text-align: center;
}

.dialer > .digit > button {
	height: 23vw;
}